body {
    margin: 0;
    font-family: Arial;
    background-color: #f7f1f1;
}

.container {
    display: flex;
}

.sidebar {
    width: 220px;
    background-color: #111;
    color: white;
    min-height: 100vh;
    padding: 20px;
    position: relative;
}

.sidebar h2 {
    margin-top: 0;
}

.semester {
    background-color: #222;
    padding: 12px;
    border-radius: 8px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 8px;
    border-radius: 6px;
}

.sidebar a:hover,
.sidebar .active {
    background-color: #444;
}

.user {
    position: absolute;
    bottom: 20px;
}

.main {
    flex: 1;
    padding: 25px;
}

.topbar {
    background-color: white;
    padding: 15px;
    margin: -25px -25px 25px -25px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.topbar input {
    margin-left: auto;
    width: 350px;
    padding: 8px;
}

.filters {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 12px;
    display: flex;
    gap: 15px;
}

.filters input,
.filters select {
    padding: 8px;
}

button {
    background-color: #111;
    color: white;
    border: none;
    padding: 9px 14px;
    border-radius: 6px;
}

.tabs {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    margin-bottom: 20px;
}

.tabs button {
    background-color: #eee;
    color: black;
}

.assignment-card {
    background-color: white;
    padding: 18px;
    border-radius: 12px;
    margin-bottom: 18px;
    box-shadow: 0 2px 8px lightgray;
}

.tag {
    background-color: #e8f1ff;
    padding: 5px 8px;
    border-radius: 12px;
    font-size: 12px;
}

.blue {
    background-color: #d9eaff;
}

.orange {
    background-color: #ffe0b3;
}

.status {
    float: right;
    padding: 5px 8px;
    border-radius: 12px;
    font-size: 12px;
}

.overdue {
    background-color: #ffd6d6;
    color: red;
}

.progress {
    background-color: #fff0b8;
    color: #8a6500;
}

.not-started {
    background-color: #eee;
    color: #555;
}

.graded {
    background-color: #d7f5df;
    color: green;
}

.warning {
    background-color: #ffdede;
    color: #b00000;
    padding: 10px;
    border-radius: 6px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}

input,
select {
    padding: 7px;
    margin: 5px;
}
