body{
    margin:0;
    font-family:Arial;
    background:#f4f4f4;
}

.container{
    display:flex;
}

.sidebar {
    width: 240px;
    background-color: #111;
    color: white;
    min-height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    color: black;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    margin-right: 10px;
}

.logo h2 {
    margin: 0;
}

.semester-card {
    background-color: #222;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.semester-label {
    color: gray;
    font-size: 11px;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 6px;
    display: block;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: #4a4a4a;
}

.user-box {
    margin-top: auto;
    border-top: 1px solid #333;
    padding-top: 15px;
}

.user-box p {
    margin: 0;
}

.user-box small {
    color: gray;
}

.main{
    flex:1;
    padding:20px;
}

.course-card{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
}

.progress{
    width:100%;
    height:20px;
    background:lightgray;
    margin-bottom:15px;
}

.progress-bar{
    width:87%;
    height:20px;
    background:green;
}

.grade-breakdown{
    background:white;
    padding:20px;
    border-radius:10px;
    margin-bottom:20px;
}

.assignment-section{
    background:white;
    padding:20px;
    border-radius:10px;
}

table{
    width:100%;
}

th,td{
    padding:10px;
    border-bottom:1px solid lightgray;
    text-align:left;
}

.warning{
    background:yellow;
    padding:10px;
    margin-top:20px;
}

