body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f1f1;
}

.layout {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 220px;
    background-color: #111;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 0;
}

.semester {
    background-color: #222;
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 8px;
    border-radius: 6px;
}

.sidebar a:hover,
.sidebar .active {
    background-color: #444;
}

.main {
    flex: 1;
    padding: 30px;
}

.topbar {
    background-color: white;
    padding: 15px;
    margin: -30px -30px 30px -30px;
    display: flex;
    justify-content: space-between;
}

.topbar input {
    width: 300px;
    padding: 8px;
}

.steps {
    margin: 25px 0;
}

.steps span {
    margin-right: 20px;
    color: gray;
}

.active-step {
    color: black !important;
    font-weight: bold;
}

.upload-box,
.card,
.loading-box {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    width: 600px;
    margin-bottom: 20px;
}

.upload-box {
    border: 2px dashed #bbb;
    text-align: center;
    padding: 60px 25px;
}

.buttons {
    width: 600px;
    display: flex;
    justify-content: space-between;
}

button,
.cancel-btn {
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

button {
    background-color: #111;
    color: white;
}

.cancel-btn {
    background-color: #ddd;
    color: black;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input {
    width: 90%;
    padding: 9px;
    margin-top: 5px;
}

.assignment {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.hide {
    display: none;
}

.progress {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    margin-top: 20px;
}

.progress-fill {
    width: 100%;
    height: 10px;
    background-color: #111;
}

@media screen and (max-width: 800px) {
    .layout {
        flex-direction: column;
    }

    .sidebar {
        width: auto;
    }

    .upload-box,
    .card,
    .loading-box,
    .buttons {
        width: auto;
    }

    .topbar {
        display: block;
    }

    .topbar input {
        width: 90%;
    }
}
